/*
#2196F3 синий
#757575 ссылка
#212121 чёрный
#757575 вторичный текст
rgba(255, 255, 255, 0.6); футер ссылки
#F5F4FA цвет фона вторичный
#2F303A цвет футера */
* {
  margin: 0;
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*header*/
.link-logotipe {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.part-logotipe {
  color: var(--accent-color);
}
.link-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.link-header:hover,
.link-header:focus {
  color: var(--accent-color);
}
.connect-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.connect-header:hover,
.connect-header:focus {
  color: var(--accent-color);
}
/*hero*/
.hero-section {
  background-color: #2F303A;
}
.hero-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  text-transform: uppercase;
}
.hero-btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.text-btn {
  font-family: Roboto;
  font-style: normal;
  width: 136px;
  height: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}
/*Advantages*/
.list-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  width: 270px;
  height: 16px;
  text-transform: uppercase;
}
.list-deskription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*What we are doing*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/*our comand*/
.name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/*footer*/
.footer {
  background-color: #2F303A;
}
.footer-logo {
  color: #ffffff;
}
.connect-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/*Portfolio*/
.btn-portfolio {
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding: 6px 22px;
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.portfolio-title{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-text-color);
}
.portfolio-deskription {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
}